---
layout: default
---

{{content}}

<section class="grid padded">

    {% if page.intro-header == true %}
        <div class="col-12 center">
             <h1>{{page.category | capitalize}} Posts</h1>
            <p>{{page.description}}</p>
        </div>

    {% endif %}

    {% for post in site.categories[page.category] %}

        {% if page.post-style == normal %}

            {% include post-square-loop.html %}

        {% else %}
        
            {% include post-portrait-loop.html %}

        {% endif %}

    {% endfor %}
</section>