<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{page.title}}</title>
</head>


<body>
    <header class="grid">
        <div class="col-6">
            <h1>This is the header</h1>
        </div>
        <div class="col-6 right">
            <nav class="main-nav">
             <a href="/index.html"> Home</a>
             <a href="/blog.html"> Blog</a>
            </nav>
        </div>
    </header>

    {{content}}

    <footer>
        <h1>This is the footer</h1>
    </footer>
</body>


</html>