<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{page.title}}</title>
</head>


<body>
    <header class="grid-middle">
        <div class="col-5">
            <a href="/" class="logo">LOGO</a>
        </div>

        <nav class="col-7 right sm-hide">
             <a href="/index.html"> Home</a>
            <!-- new dropdown menu for blog categories  -->
            <div class="dropdown">
                <a href="/blog.html" class="dropdown-title"> Blog</a>
                <div class="dropdown-content">
                    <a href="/archives/travel.html">Travel</a>
                    <a href="/archives/bali.html">Bali</a>
                    <a href="/archives/australia.html">Australia</a>
                    <a href="/archives/east-coast.html">East Coast</a>
                </div>
            </div>
            <!-- new dropdown menu for recipes  -->
            <div class="dropdown">
                <a href="/recipe.html" class="dropdown-title"> Recipes</a>
                <div class="dropdown-content">
                    <a href="/archives/sweet.html">Sweet</a>
                    <a href="/archives/savory.html">Savory</a>
                    <a href="/archives/round.html">Round</a>
                </div>
            </div>
            </nav>

        </div>
    </header>

    {{content}}

    <footer>
        <h1>This is the footer</h1>
    </footer>
</body>


</html>